.recipe-step-fields
  = f.input :recipe_id, as: :hidden, input_html: { value: f.object.recipe.id }

  - if @new_uuid
    -# If this is a field for adding a new recipe_step, pass the unique UUID
    = f.input :new_uuid, as: :hidden, input_html: { value: @new_uuid }

  = link_to('Select Recipe', 'javascript:void(0);', class: 'stepable-select', 'data-type' => CGI.escapeHTML(render('recipe_steps/stepable_types/select_recipe', f: f).to_str).html_safe)
  |
  = link_to('Select Technique', 'javascript:void(0);', class: 'stepable-select', 'data-type' => CGI.escapeHTML(render('recipe_steps/stepable_types/select_technique', f: f).to_str).html_safe)
  |
  = link_to('Select Step', 'javascript:void(0);', class: 'stepable-select', 'data-type' => CGI.escapeHTML(render('recipe_steps/stepable_types/select_step', f: f).to_str).html_safe)
  |
  = link_to('Build Step', 'javascript:void(0);', class: 'stepable-select', 'data-type' => CGI.escapeHTML(render('recipe_steps/stepable_types/build_step', f: f).to_str).html_safe)

  .stepable-select-fields
    = render 'recipe_steps/stepable_types/build_step', f: f
