.recipe-step-fields
  = f.input :recipe_id, as: :hidden, input_html: { value: f.object.recipe.id }
  - if @new_uuid
    -# If this is a field for adding a new recipe_step, pass the unique UUID
    = f.input :new_uuid, as: :hidden, input_html: { value: @new_uuid }

  -# TODO: Update this to allow for one of the four options below

  -# .stepable-recipe-fields
  -#   = f.input :stepable_id, as: :select, collection: Recipe.all, label: 'Select Recipe'
  -#   = f.input :stepable_type, as: :hidden, input_html: { value: 'Recipe' }
  -#
  -# .stepable-step-fields
  -#   = f.input :stepable_id, as: :select, collection: Technique.all, label: 'Select Technique'
  -#   = f.input :stepable_type, as: :hidden, input_html: { value: 'Technique' }
  -#
  -# .stepable-step-fields
  -#   = f.input :stepable_id, as: :select, collection: Step.all, label: 'Select Step'
  -#   = f.input :stepable_type, as: :hidden, input_html: { value: 'Step' }

  .stepable-step-fields
    = f.simple_fields_for :stepable, Step.new() do |step|
      = f.input :stepable_type, as: :hidden, input_html: { value: 'Step' }
      = render 'steps/fields', f: step
