= form_for @recipe_step do |f|
  - if @recipe_step.errors.any?
    #error_explanation
      %h2= "#{pluralize(@recipe_step.errors.count, "error")} prohibited this recipe_step from being saved:"
      %ul
        - @recipe_step.errors.full_messages.each do |message|
          %li= message

  .field
    = f.label :recipe
    = f.text_field :recipe
  .field
    = f.label :stepable
    = f.text_field :stepable
  .field
    = f.label :position
    = f.number_field :position
  .actions
    = f.submit 'Save'
