= simple_form_for @recipe, html: { class: 'recipe-form' } do |f|
  - if @recipe.errors.any?
    #error_explanation
      %h2= "#{pluralize(@recipe.errors.count, "error")} prohibited this recipe from being saved:"
      %ul
        - @recipe.errors.full_messages.each do |message|
          %li= message

  = render 'fields', f: f

  .actions
    = f.button :submit, 'Save', data: { disable_with: 'Saving...' }
