%h1= recipe.title

%p= recipe.description

.steps
  - recipe.recipe_components.each do |step|
    %section.step
      %h3.step-title= "Step #{step.recipe_steps.find_by(recipe: recipe).position}"
      .ingredients
        = render step
