%article.recipe
  %h1= recipe.title

  %p= recipe.description

  .ingredients
    = render_combined_ingredients(recipe)

  .steps
    - recipe.recipe_steps.each do |recipe_step|
      %section.recipe-step
        %small.step-title="Step #{recipe_step.position}"
        %br
        - if recipe_step.stepable.class == Recipe
          = render 'sub_recipe', recipe: recipe_step.stepable
        - else
          = render recipe_step.stepable
      %hr
