%article.recipe
  .title
    %h1= recipe.title

  .image
    .full-width-image
      = image_tag('https://placehold.it/2000x500')

  .description
    %p= recipe.description

  .ingredients
    = simple_form_for :shopping_list,
                      url: '/shopping_list/update',
                      html: { class: 'shopping-list' } do |f|
      = render_combined_ingredients(recipe, f)
      = f.button :submit, 'Add to Shopping List' # TODO: add link
      -# TODO: make ajax update on checkbox click
      -# TODO: add a check all button

  .recipe-steps
    - recipe.recipe_steps.each_with_index do |recipe_step, i|
      %section.recipe-step
        .step-position= i + 1

        - if recipe_step.stepable.class == Recipe
          = render 'sub_recipe', recipe: recipe_step.stepable
        - elsif recipe_step.stepable.nil?
          %small This Step has no content, please delete and re-create it.
        - else
          = render recipe_step.stepable
