= simple_form_for @technique do |f|
  - if @technique.errors.any?
    #error_explanation
      %h2= "#{pluralize(@technique.errors.count, "error")} prohibited this technique from being saved:"
      %ul
        - @technique.errors.full_messages.each do |message|
          %li= message

  = render 'fields', f: f

  .actions
    = f.button :submit, 'Save', data: { disable_with: 'Saving...' }
