.ingredient
  .checkbox
    CH
  .title
    = step_ingredient.ingredient.title
  .technique
    = step_ingredient&.technique&.title
  .measurements
    - if step_ingredient.measurements.many?
      %span.split-notice= "#{step_ingredient.total_measurement} split into:"
    - step_ingredient.measurements.each_with_index do |measurement, index|
      .measurement= measurement.to_unit
