.ingredient{ class: ('has-checkbox' if defined?(f)) }
  - if defined?(f)
    .checkbox
      = f.input step_ingredient.ingredient_id, as: :boolean, label: false
  .title
    = step_ingredient.ingredient.title
  - if step_ingredient.technique.present?
    .technique
      = step_ingredient&.technique&.title
  .measurements
    - if step_ingredient.measurements.many?
      .total.measurement= step_ingredient.total_measurement.pluralize
      .split-notice split into
    - step_ingredient.measurements.each_with_index do |measurement, index|
      .measurement= measurement.to_unit.pluralize
