.step-fields.fields
  %h3 Step
  = f.input :title
  = f.input :description

  .step-ingredient-association
    = f.simple_fields_for :step_ingredients do |step_ingredient|
      = render 'step_ingredients/fields', f: step_ingredient
    .add-step-ingredient
      = link_to_add_association 'Add Ingredient', f, :step_ingredients,
                                partial: 'step_ingredients/fields'
